# Ignore docs files
_gh_pages
.ruby-version

#ignore all files in _site except the archive that needs to be generated using a plugin. GitHub does not allow this on the server side :S
_site/2014/
_site/404.html
_site/LICENSE.md
_site/README.md
_site/atom.xml
_site/index.html
_site/page2/
_site/public/

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# Komodo
*.komodoproject
.komodotools

# grunt-html-validation
validation-status.json
validation-report.json

# Folders to ignore
node_modules
