<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <p>
      <img src="{{ site.baseurl }}pictures/profile.jpg" alt="Baris Kasikci">
      </p>


<h1>
       Baris Kasikci
</h1>
      {{ site.description }} | <a href="{{ site.baseurl }}public/kasikci-cv.pdf">CV</a> 

<hr>


      baris.kasikci@epfl.ch | <a target="_blank" href="https://pgp.mit.edu/pks/lookup?search=0xAC17B59F&op=index">GPG</a>

<hr>

    </div>

    <nav class="sidebar-nav">
            <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

            <a class="sidebar-nav-item{% if page.url == site.pages[6].url %} active{% endif %}" href="{{ site.pages[6].url }}">{{ site.pages[6].title }}</a>
            <a class="sidebar-nav-item{% if page.url == site.pages[5].url %} active{% endif %}" href="{{ site.pages[5].url }}">{{ site.pages[5].title }}</a>
            <a class="sidebar-nav-item{% if page.url == site.pages[4].url %} active{% endif %}" href="{{ site.pages[7].url }}">{{ site.pages[7].title }}</a>
            <a class="sidebar-nav-item{% if page.url == site.pages[2].url %} active{% endif %}" href="{{ site.pages[2].url }}">{{ site.pages[2].title }}</a>


    </nav>
  </div>
</div>
